*,*::before,*::after{
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0;
    background:linear-gradient(to right,rgb(44, 137, 207),rgb(98, 201, 230),rgb(104, 226, 237),rgb(126, 247, 227));
}

.calculator-grid{
    display: grid;
    margin-top: 2rem;
    justify-content: center;
    grid-template-columns: repeat(4,6rem);
    grid-template-rows: minmax(4rem,7rem) repeat(5,5rem);

}
.calculator-grid > button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, 0.7);
}
.calculator-grid>button:hover,
.calculator-grid>button:focus{
    background-color: rgba(255, 255, 255, 0.9);

}
.span-two{
    grid-column: span 2;
}
.output{
    border-radius: 3px;
    grid-column: 1 / -1;
    background-color: rgba(0, 9, 0, .70);
    justify-content: space-around;
    display: flex;
    align-items: flex-end;
    padding: 2.7rem;
    word-wrap: break-word;
    word-break: break-all;
    flex-direction: column; /* Stack elements vertically */
}
.output .previous-operand{
    color: rgba(255, 255, 255, 0.753);
    font-size: 1.5rem;
}
.output .current-operand{
    color: white;
    font-size: 2.5rem;
}